@import '~materialize-css';
@import 'mixins';
@import 'https://fonts.googleapis.com/css2?family=Oswald&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
	background-color: #000000;
}

.nav-wrapper {
	.brand-logo {
		font-family: Oswald;
		font-size: 1.8rem;
		margin-left: 5px;
		letter-spacing: 1px;
	}
}

section {
	margin: 20px 0;

	&.links-collection {
		.row {
			margin: 0;
		}

		.material-icons {
			margin: 0 5px;
		}
	}
}

.list-head {
	display: flex;
	justify-content: space-between;

	.heading {
		font-size: 1.2rem;
		font-weight: 600;
	}
}

/* Materialize Reset */

#list-dropdown {
	width: auto !important;

	a > i {
		margin-right: 16px;
	}

	li > * {
		display: flex;
		align-items: center;
	}
}

#toast-container {
	top: auto !important;
	right: auto !important;
	bottom: 10%;
	left: 5%;

	@include mobile {
		text-overflow: ellipsis;
		white-space: nowrap;
		min-width: 50%;
		max-width: 100%;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
	}
}
